h1{
    color:blueviolet;
    text-align: center;
}
h2{
    text-align: center;
    color: grey;
    font-style: italic;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    display: flex;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.navigation{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.navigation-button{
    padding: 15px;
    border-radius: 20px;
    background: blueviolet;
    color: white;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 2px 2px red;
}
.gallery {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.gallery-item {
    display: flex;
    height: 100%;
    height: 200px;
    flex-basis: calc((100% - 15px) / 2);
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px;
    overflow: hidden;
}
.gallery-image{
    background-position: center;
    width: 50%;
      background-repeat: no-repeat;
      background-size:cover;
}
.gallery-content{
    width: 50%;
    padding: 15px 15px;
}
.gallery-item-title{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.gallery-item-description{
    margin-bottom: 10px;
}
.image1{
    background-image:linear-gradient(to top,rgba(255, 0, 0, 0.126),#73518442,rgba(0, 128, 0, 0.175)), url(../images/threewomen-min.jpg);
}
.image2{
    background-image: url(../images/teenagers-min.jpg);
}
.image3{
    background-image: url(../images/kids-min.jpg);
}
.image4{
    background-image: url(../images/eldery-min.jpg);
}
body{
    background-image:url(../images/eldery-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background size: 100vw 100vh;
}