h1{
    color:blueviolet;
    text-align: center;
}
h2{
    text-align: center;
    color: grey;
    font-style: italic;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.navigation{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.navigation-button{
    padding: 15px;
    border-radius: 20px;
    background: blueviolet;
    color: white;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 2px 2px red;
}
.gallery {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.gallery-item {
    display: flex;
    height: 100%;
    height: 200px;
    flex-basis: calc((100% - 15px) / 2);
    outline: 1px solid blue;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px;
}
.gallery-image{
    background-position: center;
    width: 50%;
     background-image: url(../images/kids-min.jpg);
      background-repeat: no-repeat;
      background-size:cover;
}
.gallery-content{
    width: 50%;
}